#title {
    width: 250px;
    background-color: seagreen;
    color: white;
    text-align: center;
  }
  
body {
    background-color: #ADD8E6;
  }

#a2, #a3, #a4, #a5 {
    text-decoration: none ;
    color: black;
  }

#nav {
    margin: 3px;
  }

#list {
    float: left;
  }

sup {
  color: red;
}

 