.title h1 a{
    border: red 5px dotted;
    border-radius: 10px;
    background-color: seagreen;
    text-align: center;
    color: white;
    animation-name: title;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    position: relative;
  }
  @keyframes title {
    0% {border-color: red; background-color: seagreen; left:0px; top:0px;}
    50% {border-color: yellow; background-color:blue; left: 82%; top:0px;}
    100% {border-color: red; background-color: seagreen; left:0px; top:0px;}
  }


body {
  margin: 0;
    background-color: #ADD8E6;
  }

div a {
    text-decoration: none ;
    color: black;
  }

#nav {
    color: black;
    background-color: rgba(230, 105, 22, 0.582);
  }

#nav a:hover  {
  background-color: rgba(230, 105, 22);
} 

#nav a:active  {
  color: black;
}

#list {
    float: left;
  }

form sup {
  color: red;
}

th, td {
  color: orangered;
  text-align: center;
  border: 1px solid indigo;
} 

table  {
  border-collapse: collapse;
}

div ~ p {
  background-color: blueviolet;
}

.practice {
  text-align:center;
}

li:nth-child(2n) {
  color: red;
}

dt {
  color: red;
}

a:hover {
  color: green;
}

a:active {
  color: red;
}

.tabrow td {
  color: blue;
}

.tabrow th {
  color: black;
}

.att font[face] {
  color: crimson;
}