* {
    margin: 0;
    padding: 0;
    font-family: 'sans-serif', georgia;
}

.bgimg {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(../images/imrs.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

.nav-bar {
    display: flex;
    padding: 40px 120px;
}

.nav-logo img {
    width: 100px;
    margin-top: -20px;
}

.nav-links {
    flex: 1;
}

.nav-links ul {
    margin-left: 50px;
    display: inline;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 25px;
    font-size: 20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #ffffff;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #0741AD;
    display: block;
    margin: auto;
    transition: .3s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.btn {
    padding: 15px 30px;
    border: none;
    background: #0741AD;
    font-weight: bold;
    transition: 1s;
}

.nav-links .btn{
    float: right;
}

.btn .sub-btn {
    color: white;
    text-decoration: none;
}

.banner-title {
    margin: 80px 130px;
    color: #ffff;
}

.banner-title h1{
    font-size: 55px;
    margin-bottom: 30px;
}

.banner-title .btn {
    transition: none;
}

.vertical-bar {
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    position: absolute;
}

.search-icons {
    height: 60%;
    width: 80px;
}

.search-icons .fa {
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.social-icons {
    height: 35%;
    width: 80px;
    background: #0741AD;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}

.social-icons a {
    text-decoration: none;
}

.social-icons .fa {
    margin: 15px 23px;
    display: block;
    color: white;
    padding: 8px;
    border: 1px solid white;
    border-radius: 50%;
}

.notifications {
    display: flex;
    width: 400px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #0741AD;
}

.contents {
    flex-basis: 50%;
    padding: 10px;
    color: #fff;
}

.notification-img {
    flex-basis: 50%;
}

.notification-img img {
    width: 100%;
} 

.contents a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin: 0px 10px;
}

.contents p {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: white;
}

.nav-bar .fa {
    display: none;
}

/*---------Responsive Page Code-------------*/

@media (max-width: 760px) {
    .nav-logo img {
        margin-top: 0px;
    }
    .vertical-bar {
        display: none;
    }
    .banner-title {
        margin: 80px 40px;
    }
    .banner-title h1 {
        font-size: 50px;
    }
    .notifications {
        width: 100%;
    }
    .nav-bar {
        padding: 10px 30px;
    }
    .fa-bars {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .nav-bar .fa {
        display: block;
        color: #fff;
        margin: 10px 25px;
        font: 22px;
        cursor: pointer;
    }
    .nav-links {
        height: 100vh;
        width: 200px;
        background: #000;
        top: 0;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index: 2;
    }
    .nav-links ul a {
        display: flex;
    }
    .nav-links ul li {
        display: table;
    }
    .nav-links .btn {
        float: none;
        margin-left: 25px;
        margin-top: 10px;
    }
}